.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  width: 30%;
}

.articleBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
